.person{
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    transition: .6s;
    
}

.person:hover{
    flex: 3;
}

.person-pic{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
    transition: .3s;
}

.person:hover .person-pic{
    filter: grayscale(0);
}

.person-info{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: .2s;
}

.person:hover .person-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: .6s;
}

.person-info h2{
    font-size: 20px;
    color: #fff;
}

.person-info p{
    color: #b8e994;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
}

.socialmedia a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #333;
    background-color: #b8e994;
    line-height: 40px;
    border-radius: 50%;
    margin: 0 6px;
    font-size: 18px;
    transition: .3s linear;
}

.socialmedia a:hover{
    color: #b8e994;
    background-color: transparent;
    transform: scale(1.5);
}
